<div id="carouselExampleIndicators" class="carousel slide s-back py-4" data-bs-ride="carousel">

    <div class="carousel-inner px-5">
      <div class="carousel-item active ">
          <div class="container ">
              <div class="row ">
                  <div class="col"><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[19].id ]">
                    <img [src]="imageFirstPart+trendingMovies[19].poster_path" class="d-block w-100 img-box" alt="...">
                  </a></div>
                  <div class="col"><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[18].id ]">
                    <img [src]="imageFirstPart+trendingMovies[18].poster_path" class="d-block w-100 img-box" alt="...">
                  </a></div>
                  <div class="col"><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[17].id ]">
                    <img [src]="imageFirstPart+trendingMovies[17].poster_path" class="d-block w-100 img-box" alt="...">
                  </a></div>
                  <div class="col d-none d-sm-none d-md-none d-lg-none d-xl-block "><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[16].id ]">
                    <img [src]="imageFirstPart+trendingMovies[16].poster_path" class="d-block w-100 img-box" alt="...">
                  </a></div>
                  <div class="col d-none d-sm-none d-md-none d-lg-block" ><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[15].id ]">
                    <img [src]="imageFirstPart+trendingMovies[15].poster_path" class="d-block w-100 img-box" alt="...">
                  </a></div>
                  <div class="col d-none d-sm-none d-md-block" ><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[14].id ]">
                    <img [src]="imageFirstPart+trendingMovies[14].poster_path" class="d-block w-100 img-box" alt="...">
                  </a></div>
                  <div class="col d-none d-sm-block "><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[13].id ]">
                    <img [src]="imageFirstPart+trendingMovies[13].poster_path" class="d-block w-100 img-box" alt="...">
                  </a></div>
              </div>
          </div>
      </div>

      <div class="carousel-item ">
  
            <div class="container ">
                <div class="row ">
                    <div class="col"><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[12].id ]">
                      <img [src]="imageFirstPart+trendingMovies[12].poster_path" class="d-block w-100 img-box" alt="...">
                    </a></div>
                    <div class="col"><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[11].id ]">
                      <img [src]="imageFirstPart+trendingMovies[11].poster_path" class="d-block w-100 img-box" alt="...">
                    </a></div>>
                    <div class="col"><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[10].id ]">
                      <img [src]="imageFirstPart+trendingMovies[10].poster_path" class="d-block w-100 img-box" alt="...">
                    </a></div>
                    <div class="col d-none d-sm-none d-md-none d-lg-none d-xl-block "><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[9].id ]">
                        <img [src]="imageFirstPart+trendingMovies[9].poster_path" class="d-block w-100 img-box" alt="...">
                      </a></div>
                    <div class="col d-none d-sm-none d-md-none d-lg-block" ><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[8].id ]">
                        <img [src]="imageFirstPart+trendingMovies[8].poster_path" class="d-block w-100 img-box" alt="...">
                      </a></div>
                    <div class="col d-none d-sm-none d-md-block" ><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[7].id ]">
                        <img [src]="imageFirstPart+trendingMovies[7].poster_path" class="d-block w-100 img-box" alt="...">
                      </a></div>
                    <div class="col d-none d-sm-block "><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[6].id ]">
                        <img [src]="imageFirstPart+trendingMovies[6].poster_path" class="d-block w-100 img-box" alt="...">
                      </a></div>
                </div>
            </div>
      </div>

      <div class="carousel-item">
          
            <div class="container ">
                <div class="row ">
                    <div class="col"><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[5].id ]">
                      <img [src]="imageFirstPart+trendingMovies[5].poster_path" class="d-block w-100 img-box" alt="...">
                    </a></div>
                    <div class="col"><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[4].id ]">
                      <img [src]="imageFirstPart+trendingMovies[4].poster_path" class="d-block w-100 img-box" alt="...">
                    </a></div>
                    <div class="col"><a class="remove-style" [routerLink]="['/Mdetails',trendingMovies[3].id ]">
                      <img [src]="imageFirstPart+trendingMovies[3].poster_path" class="d-block w-100 img-box" alt="...">
                    </a></div>
                    <div class="col d-none d-sm-none d-md-none d-lg-none d-xl-block "><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[2].id ]">
                        <img [src]="imageFirstPart+trendingMovies[2].poster_path" class="d-block w-100 img-box" alt="...">
                      </a></div>
                    <div class="col d-none d-sm-none d-md-none d-lg-block" ><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[1].id ]">
                        <img [src]="imageFirstPart+trendingMovies[1].poster_path" class="d-block w-100 img-box" alt="...">
                      </a></div>
                    <div class="col d-none d-sm-none d-md-block" ><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[0].id ]">
                        <img [src]="imageFirstPart+trendingMovies[0].poster_path" class="d-block w-100 img-box" alt="...">
                      </a></div>
                    <div class="col d-none d-sm-block "><a class="remove-style" [routerLink]="['/Mdetails', trendingMovies[15].id ]">
                        <img [src]="imageFirstPart+trendingMovies[15].poster_path" class="d-block w-100 img-box" alt="...">
                      </a></div>
                </div>
            </div>
     </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <DIV class="CONTAINER my-5">
    <h1 class="site-head">MOVIES LAND</h1>
  </DIV>

<div class="container my-2">
    <div class="row">
                <div *ngFor = "let movie of trendingMovies"  class=" position-relative col-xl-3 col-lg-3 col-md-4 col-sm-6 col-8 offset-sm-0 offset-2 mt-5 px-4 pt-2 ">
                    <div ><a class="remove-style" [routerLink]="['/Mdetails', movie.id ]">
                        <img class="w-100 img-box" [src]="imageFirstPart+movie.poster_path">
                        <h5 class=" text-center pt-3 pb-5">{{movie.title}}</h5>
                        <div class="rate">{{movie.vote_average}}</div>
                      </a><div>
                    </div>
                </div>
    </div>
</div>
